@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  margin: 0 auto;
  padding: 80px 0;
  width: 90%;
  font-size: 13px;
  background-color: var(--Light-Grayish-Blue);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonials {
  background-color: var(--Very-Dark-Magenta);
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 2rem;
}

.testimonials:nth-of-type(1) {
  background: url(images/bg-pattern-quotation.svg) no-repeat top 10px right 30px;
  background-position: cover;
  background-color: var(--Moderate-violet);
}

.testimonials:nth-of-type(2) {
  background-color: var(--Very-dark-grayish-blue);
}

.testimonials:nth-of-type(3) {
  background-color: var(--White);
}

.testimonials:nth-of-type(4) {
  background-color: var(--Very-dark-blackish-blue);
}

.testimonials:nth-of-type(5) {
  background-color: var(--White);
}

.testimonials img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.radius {
  border: 2px solid #996ed9;
}

.testimonials .for {
  display: flex;
}

.testimonials .for .details {
  font-size: 1rem;
}
.testimonials .for .details p {
  color: rgb(174, 173, 173);
  font-size: 0.8rem;
  font-weight: 600;
}
.testimonials .for .details h3 {
  margin-bottom: 0.3rem;
  font-weight: 500;
  font-size: 1rem;
  color: var(--Light-Grayish-Blue);
}
.testimonials .text {
  margin-top: 1rem;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--Light-Grayish-Blue);
}

.testimonials .next {
  font-size: 0.8rem;
  color: rgb(174, 173, 173);
}

.testimonials .new #in {
  color: var(--Very-dark-blackish-blue);
}

.testimonials .an {
  color: var(--Very-dark-blackish-blue);
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "bill bill dane kell"
      "josh kenny kenny kell";
    gap: 1rem;
  }
  .testimonials:nth-of-type(1) {
    grid-area: bill;
  }

  .testimonials:nth-of-type(2) {
    grid-area: dane;
  }

  .testimonials:nth-of-type(3) {
    grid-area: josh;
  }

  .testimonials:nth-of-type(4) {
    grid-area: kenny;
  }

  .testimonials:nth-of-type(5) {
    grid-area: kell;
  }
}
